# Copy this to .env and fill values for local development
FYERS_API_KEY=52BLZ2KYCL-100
FYERS_SECRET=TLR5CLRIP8
FYERS_REDIRECT_URI=http://10.158.129.90:8501/callback
API_URL=http://localhost:8000
# Other environment variables
# SECRET_KEY=...
